/* 
    Created on : 04-mar-2016, 1:57:17
    Author     : Cindy
*/

/* Header */
#demo-header{
    background: rgba(55,61,73,0.975);
    color: #fff;
    box-shadow: none;
}

#demo-header .left{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.logoSisinfo {
    width: 330px;
    float: right;
    margin-top: -92px;
}

ul.selector{
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    list-style-type: none;
}

ul.selector li{
    float: left;
    padding: 0 1em 0 1em;
    cursor: pointer;
    transition: all 0.2s;
    border-style: solid;
    border-color: #dee0e3;
    height: 2.75em;
    line-height: 35px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

ul.selector li:hover{
    box-shadow: 15em 0 rgba(255,255,255,0.2) inset;
}

ul.selector li.active {
    background: #676d79;
    color: #fff;
    border-color: #676d79;
}

ul.selector li:first-child{
    border-radius: 4px 0 0 4px;
    border-left-width: 1px;
}

ul.selector li:last-child{
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
}

/** Barra Lateral CSS - Footer */
.lateral-bar{
    background-image: url('../images/space.jpeg');
    line-height: 50px;
    padding-left: 0;
    width: 30%;
    height: 100%;
    display: inline-block;
}

.circleName {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    text-align: center;
    line-height: 94px;
    font-size: 40px;
    font-weight: bold;
}

.menu_lateral{
    background: #252528;
    line-height: 50px;
    padding-left: 0;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.menu-lateral-content{
    height: 500px;
}

.men{
    list-style:none;
    margin: 5em auto;
}

.men li{
    box-shadow: 3px 0 rgba(255,255,255,0.2) inset;
    margin-bottom: 10px;
    padding-left: 1.5em;
    transition: all .5s;
}

.men li:hover{
    box-shadow: 15em 0 rgba(255,255,255,0.2) inset;
}

.list{
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 16px;
}

.user{
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/** Calendar CSS*/
.day-schedule-selector{
    width: 1000px;
    margin: 0 auto;
}

.day-schedule-selector thead th{
    text-align: center;
}

.schedule-rows td {
    width: 62px;
    height: 26px;
    margin: 3px;
    background-color: #FFF;
    cursor: pointer;
    border: solid 1px #CCC;
    padding: 0;
    text-align: left;
}

.schedule-rows td > div{
    display: inline-block;
    height: 32px;
}

.schedule-rows td:first-child {
    background-color: transparent;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

/**Create or Update Reserves*/
.contentCreate{
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
    text-align: center;
}

/**Modal Create/Edit*/
.modal{
    display: none;
    background: rgba(0,0,0,0.4);
}

.modal-dialog{
    max-height: 80%;
}

.modal-footer{
    text-align: center;
    padding: 10px;
}

.control-label{
    font-size: 16px;
    margin-top: 7px;
}

#modalCreateReserve{
    height: 720px;
}

#bodyCreate{
    height: 470px;
}

.special{
    padding: 0;
    margin-top: 7px;
}
.special2{
    padding: 0;
}
/**Modal Edit Schedule*/
#modalCreateSchedule{
    height: 720px;
}

/**Modal Black List*/
.addBlackListModal{
    width: 500px;
    height: 400px;
}

@media only screen and (max-width: 1300px) {
    .contentCreate{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1280px) {
    .contentCreate{
        margin-left: 3px;
    }
}