<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&close;</button>
                <h4 class="modal-title">Agregar Persona a Lista Negra</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Usuario: </label>
                    <input class="form-control" value="Login Uniandes" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label">Motivo</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option>1</option>
                        </select>
                    </div>  
                </div>
                <div class="container">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Fecha Vencimiento: </label>
                            <div class='input-group date' id='datetimepicker11'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss=".modal">Cancel</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>