<div>
    <h3>Consultar y Marcar Reservas</h3>
</div>
<div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default">Buscar por fecha</a>
    <a href="#" class="btn btn-default">Buscar por rango de fechas</a>
    <a href="#" class="btn btn-default">Buscar por motivos</a>
</div>
<br>
<div>
    <table>
        <tr>
            <th>Nombre Completo</th>
            <th>Usuario uniandes</th>
            <th>Hora Cita</th>
            <th>Motivo</th>
            <th>Estado</th>
        </tr>
    </table>
    <!--> Validar cuando se muestre el boton, hacerlo solo cuando son las reservas del dia<-->
    <button>Guardar Cambios</button>
</div>